@import 'tailwindcss';
@import './foundation.css';
@import './themes/default.css';
@import './themes/grass.css';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}

/* THEME ENGINE */

.theme-background {
    position:fixed;
    inset:-200px;
    z-index:-2;

    background-image:var(--background-image);
    background-size:var(--background-size);
    background-position:center;

    filter:blur(var(--background-blur));
    animation:var(--background-animation);
}

@keyframes background-pan {
    from {
        background-position: var(--background-pan-start);
    }

    to {
        background-position:var(--background-pan-end);
    }
}

.theme-overlay {
    position:fixed;
    inset:0;
    background:var(--background-overlay);
    z-index:-1;
}

.theme-selector {
    position: fixed;
    bottom: 1rem;
    right: 1rem;

    display:flex;
    flex-direction: column;
    align-items: center;
    gap:1rem;
    background-color: black;
    border-radius: 8px;
    color: white;
    padding: 1rem;
}

.mode-toggle {
    display: flex;
    gap: 1rem;
}

.theme-option {
    width: 120px;
    height: 80px;
    background-size: cover;
    background-position: center;
    border-radius: 8px;    
}

/* -- END of Theme Engine */

/* MAIN CONTENT */

.app-shell {
    width: min(1200px, 100%);
    min-height: 100dvh;
    margin: 0 auto;
    background: var(--content-background);  
    backdrop-filter: blur(20px); 
}

/* NAVBAR */
.navbar {
    background:var(--nav-background);
    border-bottom:1px solid var(--nav-border);
    height: 4rem;
    display: flex;
    align-items: center;
    text-align: center;
}

.navbar-container {
    height: 100%;
    width:min(1200px,100%);
    margin:0 auto;
    padding:0 1rem;

    display:grid;
    grid-template-columns: 20% auto 20%;
    align-items: center;
}

.navbar-brand {
    color:var(--nav-text);
    
    font-size:2rem;
    font-weight:700;
    letter-spacing:.02em;
    
    transition:.2s ease;
}

.navbar-brand:hover {
    color:var(--nav-hover);
}

.navbar-navigation{
    position:relative;
    justify-self:end;
}

.navbar-links-desktop {
    position: relative;
    /* justify-self: center; */
    display:flex;
    /* justify-content: center; */
    align-items: center;
    gap:.25rem;
    padding:.25rem;
    
    background:var(--nav-links-background);
    border:1px solid var(--nav-border);
    border-radius:999px;    
}

.navlink {
    position: relative;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 7rem;
    height: 2.5rem;
    color:var(--nav-text);
    padding:.5rem .75rem;
    border-radius:999px;   

    transition:.2s ease;
}

.navlink:hover {
    color:var(--nav-hover);
}

.navlink.active {
    background:var(--accent);
    color:var(--nav-active-text);
    font-weight: bold;
}

@media (min-width: 769px) {
    .navbar-navigation {
        justify-self: center;
    }
    .navbar-links-mobile {
        display: none;
    }
}

@media(min-width:481px) and (max-width:768px) {
    .navbar-links-mobile {
        display: none;
    }
    .navbar-container {
        grid-template-columns:20% auto;
        gap:.5rem;
    }

    .navbar-action {
        display: none;
    }

    .navlink {
        width:5.5rem;
    }
}

@media(max-width:480px) {
    .navbar-navigation {
        justify-self: stretch;
        height: 100%;
    }

    .navbar-links-desktop {
        display: none;
    }

    .navbar-container {
        position:relative;
        grid-template-columns:20% auto;
    }

    .navbar-action {
        display: none;
    }
}

/* Mobile Navigation */

.navbar-links-mobile{
    position:absolute;
    top:0.5rem;
    right:1rem;
    z-index:10;

    width:7.5rem;
}

.mobile-nav-wrapper {
    height: 3rem;
    padding: 0.25rem;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    background-color: var(--nav-links-background);
}

.navbar-mobile-current{
    width:100%;
    height:2.5rem;

    display:flex;
    align-items:center;
    justify-content:center;
    gap:.5rem;

    background:var(--accent);
    color:var(--nav-active-text);

    border:1px solid var(--nav-border);
    border-radius:.75rem;

    font-weight:bold;
    cursor:pointer;
}

.navbar-mobile-options{
    display:flex;
    flex-direction:column;
    gap:.25rem;

    margin-top:.25rem;

    opacity: 0;
    visibility: hidden;
    transform: translateY(-.5rem);
    transition: .2s ease;
}

.navbar-links-mobile:has(.navbar-mobile-current:focus) .navbar-mobile-options,
.navbar-links-mobile:hover .navbar-mobile-options {
    opacity:1;
    visibility:visible;
    transform:none;
}

.navbar-mobile-link{
    display:flex;
    align-items:center;
    justify-content:center;

    height:2.5rem;

    background:var(--nav-links-background);
    color:var(--nav-text);

    border:1px solid var(--nav-border);
    border-radius:1rem;

    transition:.2s ease;
}

.navbar-mobile-link:hover{
    background:var(--accent);
    color:var(--nav-active-text);
}
/* -- END of Navbar */

/* -- END of Main Content */
